<h1>PROFILES</h1>
<p><h2>Image:</h2></p> <%= image_tag @user.image.url if @user.image.present? %>
<p><h2>Email:</h2> <%= @user.email %></h2></p>
<p><h2>Phone number:</h2> <%= @user.phone_number %></p>
